$font-family-sans-serif: 'Open Sans', sans-serif;

$primary: #C70039 ;
$secondary: #FF5733;
$success: #FFC300;
$dark: #581845;


@media (min-width: 992px){
    .alto-100 {
        height: 100vh;
    }
    .d-flex img{
        width: 50px;
    }
    .fondo-card{
        background-image: url('../images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: 85% top;
    }
};
$container-max-widths:(
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px
);

@import "../node_modules/bootstrap/scss/bootstrap";




